
body {
  background-color: whitesmoke;
}

.Bar li {
  display: inline-block;
  padding: 6px;
  margin: 12px;
}

.Maindiv {
  margin-top: 2em; 
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 95%;
  position: relative;
  border-radius: 30PX;
}
.Img {

  height: 665px;
  width: 700px;
}


.Login_Content {
  padding-top: 3em;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
  border-top: inset;
  border-bottom: outset;
  border-right: 0.3em inset;
}
.ac {
  display: flex;
  flex-direction: row-reverse;
}
.bc {
  display: flex;
  flex-direction: row-reverse;
  color: #54abbe;
  text-decoration: none;
}
.cont {
  margin-left: 9em;
  padding-top: 4.6em;
}
.User {
  display: block;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 85%;
  border: 2px solid grey;
  border-radius: 7px;
  height: 2em;
  font-size: large;
}

#forpass {
  margin-bottom: 1em;
  text-decoration: none;
  color: rgb(135, 135, 247);
}
#Btn {
  background-color: #5cc8df;
  margin-top: 1em;
  border-radius: 18px;
  height: 2.5em;
  border: none;
  color: white;
  font-size: large;
  width: 90%;
}

#Btn:hover{
  background-color: #3892ae;
  
}
.cc{
  text-align: left;
}
#Logo{
  height: 60px;
  width: 230px;
  margin-top: 10px;
}
