.book-enquiry-over-view-child {
  position: absolute;
  top: -1.5rem;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 80rem;
  height: 12.44rem;
}
.component-11-child4,
.component-11-child5,
.component-11-child6 {
  position: absolute;
  height: 100%;
  width: 33.33%;
  top: 0;
  right: 66.67%;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.component-11-child5,
.component-11-child6 {
  right: 33.33%;
  left: 33.33%;
  background-color: var(--color-white);
}
.component-11-child6 {
  right: 0;
  left: 66.67%;
}
.overview2 {
  position: absolute;
  top: 23.6%;
  left: 9.64%;
  font-weight: 600;
  color: var(--color-white);
}
.inquiry-book2,
.itinerary-include2 {
  position: absolute;
  top: 23.6%;
  left: 36.21%;
  font-weight: 600;
}
.inquiry-book2 {
  left: 72.25%;
}
.component-112 {
  position: absolute;
  top: 13rem;
  left: 3.06rem;
  width: 73.88rem;
  height: 5.56rem;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-400);
  font-family: var(--font-poppins);
}
.book-enquiry-over-view-item {
  position: absolute;
  top: 18.44rem;
  left: 3.13rem;
  background-color: var(--color-darkslategray);
  width: 73.81rem;
  height: 0.56rem;
}
.book-enquiry-over-view-inner {
  position: absolute;
  top: 12.88rem;
  left: 3.13rem;
  border: 2px solid var(--color-silver);
  box-sizing: border-box;
  width: 73.88rem;
  height: 176.38rem;
}
.trip-over-view {
  margin: 0;
}
.annapurna-base-camp-container1 {
  position: absolute;
  top: 24rem;
  left: 4.94rem;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: var(--color-steelblue);
}
.category {
  position: absolute;
  top: 25.75rem;
  left: 44.88rem;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.annapurna-region-nepal {
  position: absolute;
  top: 27.63rem;
  left: 44.94rem;
}
.adventurous,
.div,
.div1 {
  position: absolute;
  top: 33.44rem;
  left: 44.88rem;
}
.div,
.div1 {
  left: 60.94rem;
}
.div1 {
  top: 39.81rem;
  left: 44.88rem;
}
.customize-your-trip-container {
  position: absolute;
  top: 39.25rem;
  left: 60.94rem;
}
.kathmandu-nepal,
.m13550-ft {
  position: absolute;
  top: 46.63rem;
  left: 44.81rem;
}
.m13550-ft {
  left: 60.94rem;
}
.full-board-during {
  position: absolute;
  top: 52.88rem;
  left: 44.56rem;
}
.lodge-trek,
.sightseeing-and-trekking {
  position: absolute;
  top: 58.69rem;
  left: 44.56rem;
}
.sightseeing-and-trekking {
  left: 60.88rem;
}
.nepal,
.tourist-standard-container {
  position: absolute;
  top: 52.31rem;
  left: 61rem;
}
.nepal {
  top: 27.63rem;
  left: 60.94rem;
}
.days,
.grade,
.group-size,
.location,
.nights {
  position: absolute;
  top: 25.75rem;
  left: 60.94rem;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.days,
.grade,
.group-size,
.nights {
  top: 31.56rem;
  left: 44.88rem;
}
.days,
.group-size,
.nights {
  left: 60.94rem;
}
.group-size,
.nights {
  top: 37.69rem;
  left: 44.88rem;
}
.group-size {
  left: 60.94rem;
}
.accommodation,
.activity,
.destination,
.max-altitude,
.meals,
.trip-style {
  position: absolute;
  top: 44.19rem;
  left: 44.81rem;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.accommodation,
.activity,
.max-altitude,
.meals,
.trip-style {
  left: 60.94rem;
}
.accommodation,
.activity,
.meals,
.trip-style {
  top: 50.44rem;
  left: 44.56rem;
}
.accommodation,
.activity,
.trip-style {
  left: 60.94rem;
}
.activity,
.trip-style {
  top: 56.56rem;
  left: 44.56rem;
}
.activity {
  left: 60.94rem;
}
.after-you-arrive {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.annapurna-base-camp-container2 {
  position: absolute;
  top: 30.06rem;
  left: 4.94rem;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 35.81rem;
  height: 37.56rem;
}
.the-abc-trek {
  margin-bottom: false;
}
.the-abc-trek-takes-you-close-t {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.the-abc-trek-container {
  position: absolute;
  top: 73.31rem;
  left: 4.94rem;
  font-size: var(--font-inherit);
  line-height: 1.56rem;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 35.81rem;
  height: 25.69rem;
}
.outline-itinerary,
.trip-highlights {
  position: absolute;
  top: 69.5rem;
  left: 4.94rem;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-steelblue);
  display: inline-block;
  width: 11.31rem;
  height: 2.25rem;
}
.outline-itinerary {
  top: 100.88rem;
  width: 12.56rem;
}
.accommodations,
.annapurna-base-camp3,
.best-time-to,
.koshish-khadka1,
.meals1,
.medical,
.miharika-sherpa1,
.precautions,
.tour-guide1 {
  position: absolute;
  top: 104.5rem;
  left: 42.5rem;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-steelblue);
  display: inline-block;
  width: 6.75rem;
  height: 2.25rem;
}
.accommodations,
.annapurna-base-camp3,
.best-time-to,
.koshish-khadka1,
.meals1,
.miharika-sherpa1,
.precautions,
.tour-guide1 {
  top: 148.25rem;
  left: 4.88rem;
  width: 13.69rem;
}
.annapurna-base-camp3,
.best-time-to,
.koshish-khadka1,
.meals1,
.miharika-sherpa1,
.precautions,
.tour-guide1 {
  top: 136.69rem;
  left: 42.5rem;
  width: 9.44rem;
}
.annapurna-base-camp3,
.best-time-to,
.koshish-khadka1,
.meals1,
.miharika-sherpa1,
.tour-guide1 {
  top: 161.31rem;
  left: 42.94rem;
}
.annapurna-base-camp3,
.best-time-to,
.koshish-khadka1,
.meals1,
.miharika-sherpa1 {
  top: 165.13rem;
  left: 52.38rem;
  font-size: var(--font-size-xl);
  width: 9.94rem;
  height: 1.44rem;
}
.annapurna-base-camp3,
.best-time-to,
.meals1,
.miharika-sherpa1 {
  top: 177.69rem;
  height: 1.38rem;
}
.annapurna-base-camp3,
.best-time-to,
.meals1 {
  top: 163.94rem;
  left: 4.94rem;
  font-size: var(--font-size-6xl);
  width: 13.69rem;
  height: 2.25rem;
}
.annapurna-base-camp3,
.best-time-to {
  top: 176.81rem;
  width: 14.69rem;
}
.annapurna-base-camp3 {
  top: 190.81rem;
  left: 3.13rem;
  width: 17.56rem;
  height: 3.81rem;
}
.book-enquiry-over-view-child1,
.book-enquiry-over-view-child2 {
  position: absolute;
  top: 24rem;
  left: 42.5rem;
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 32.81rem;
  height: 37.5rem;
}
.book-enquiry-over-view-child2 {
  top: 64rem;
  background-color: var(--color-whitesmoke-100);
}
.book-enquiry-over-view-child3,
.book-enquiry-over-view-child4 {
  position: absolute;
  top: 30.22rem;
  left: 43.91rem;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 13.81rem;
  height: 0.06rem;
}
.book-enquiry-over-view-child4 {
  left: 60.09rem;
}
.book-enquiry-over-view-child5,
.book-enquiry-over-view-child6,
.book-enquiry-over-view-child7,
.book-enquiry-over-view-child8 {
  position: absolute;
  top: 36.47rem;
  left: 43.97rem;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 13.81rem;
  height: 0.06rem;
}
.book-enquiry-over-view-child6,
.book-enquiry-over-view-child7,
.book-enquiry-over-view-child8 {
  left: 60.16rem;
}
.book-enquiry-over-view-child7,
.book-enquiry-over-view-child8 {
  top: 42.72rem;
  left: 43.97rem;
}
.book-enquiry-over-view-child8 {
  left: 60.16rem;
}
.book-enquiry-over-view-child10,
.book-enquiry-over-view-child11,
.book-enquiry-over-view-child12,
.book-enquiry-over-view-child9 {
  position: absolute;
  top: 48.97rem;
  left: 43.97rem;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 13.81rem;
  height: 0.06rem;
}
.book-enquiry-over-view-child10,
.book-enquiry-over-view-child11,
.book-enquiry-over-view-child12 {
  left: 60.16rem;
}
.book-enquiry-over-view-child11,
.book-enquiry-over-view-child12 {
  top: 55.22rem;
  left: 43.97rem;
}
.book-enquiry-over-view-child12 {
  left: 60.16rem;
}
.pricing2,
.usd-9503 {
  position: absolute;
  font-weight: 500;
}
.usd-9503 {
  top: 1.31rem;
  left: 2.25rem;
}
.pricing2 {
  top: 0;
  left: 6.19rem;
  font-size: var(--font-size-xl);
}
.group-child41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-steelblue);
  width: 16.63rem;
  height: 4.38rem;
}
.book-now3 {
  position: absolute;
  top: 0.81rem;
  left: 3rem;
  font-weight: 600;
}
.rectangle-parent16 {
  position: absolute;
  top: 5.06rem;
  left: 0;
  width: 16.63rem;
  height: 4.38rem;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
}
.usd-950-container {
  position: absolute;
  top: 0;
  left: 31.69rem;
  width: 16.63rem;
  height: 9.44rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-poppins);
}
.day-01 {
  font-weight: 600;
  font-family: var(--font-inter);
}
.day-01-container {
  position: absolute;
  top: 104.69rem;
  left: 4.94rem;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 35.81rem;
}
.book-enquiry-over-view-child13 {
  position: absolute;
  top: 67.34rem;
  left: 42.47rem;
  border-top: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 32.88rem;
  height: 0.06rem;
}
.book-enquiry-over-view-child14 {
  position: absolute;
  top: 81.94rem;
  left: 44.56rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 28.69rem;
  height: 12.44rem;
}
.send-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-steelblue);
  width: 4.69rem;
  height: 2.19rem;
}
.send-inner,
.send4,
.send5 {
  position: absolute;
}
.send5 {
  top: 0.75rem;
  left: 1.06rem;
  display: flex;
  align-items: center;
  width: 2.63rem;
  height: 0.75rem;
}
.send4 {
  top: 95.63rem;
  left: 44.56rem;
  width: 4.69rem;
  height: 2.19rem;
  color: var(--color-white);
}
.span20 {
  color: var(--color-tomato);
}
.first-name-txt-container3 {
  line-break: anywhere;
  width: 100%;
}
.first-name3 {
  top: 68.63rem;
  width: 5.69rem;
  height: 1.25rem;
}
.email-address3,
.first-name3,
.inquire-about-tour2,
.last-name3,
.no-of-persons-container4,
.phone-12,
.phone-22,
.your-message2 {
  position: absolute;
  left: 44.56rem;
  font-weight: 500;
  font-family: var(--font-poppins);
  display: flex;
  align-items: center;
  color: var(--color-gray-300);
}
.inquire-about-tour2 {
  top: 65.19rem;
  font-size: var(--font-size-xl);
  width: 13.31rem;
  height: 1.25rem;
}
.email-address3,
.last-name3,
.no-of-persons-container4,
.phone-12,
.phone-22,
.your-message2 {
  top: 72.56rem;
  width: 7.69rem;
  height: 1.19rem;
}
.last-name3,
.no-of-persons-container4,
.phone-12,
.phone-22,
.your-message2 {
  left: 60.44rem;
  width: 7.13rem;
}
.last-name3,
.no-of-persons-container4,
.phone-22,
.your-message2 {
  top: 76.5rem;
  left: 44.56rem;
}
.last-name3,
.no-of-persons-container4,
.your-message2 {
  left: 60.44rem;
}
.last-name3,
.your-message2 {
  top: 80.44rem;
  left: 44.56rem;
}
.last-name3 {
  top: 68.63rem;
  left: 60.44rem;
  width: 5.69rem;
  height: 1.25rem;
}
.book-enquiry-over-view-child15,
.book-enquiry-over-view-child16,
.book-enquiry-over-view-child17,
.book-enquiry-over-view-child18,
.book-enquiry-over-view-child19,
.book-enquiry-over-view-child20 {
  position: absolute;
  top: 70.19rem;
  left: 44.56rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 12.81rem;
  height: 1.75rem;
}
.book-enquiry-over-view-child16,
.book-enquiry-over-view-child17,
.book-enquiry-over-view-child18,
.book-enquiry-over-view-child19,
.book-enquiry-over-view-child20 {
  top: 74.06rem;
  height: 1.81rem;
}
.book-enquiry-over-view-child17,
.book-enquiry-over-view-child18,
.book-enquiry-over-view-child19,
.book-enquiry-over-view-child20 {
  top: 70.19rem;
  left: 60.44rem;
  height: 1.75rem;
}
.book-enquiry-over-view-child18,
.book-enquiry-over-view-child19,
.book-enquiry-over-view-child20 {
  top: 74.06rem;
  height: 1.81rem;
}
.book-enquiry-over-view-child19,
.book-enquiry-over-view-child20 {
  top: 78rem;
  left: 44.56rem;
}
.book-enquiry-over-view-child20 {
  left: 60.44rem;
}
.we-will-be {
  top: 151.75rem;
  left: 4.88rem;
  font-size: var(--font-size-xl);
  height: 10.63rem;
}
.all-meals-will,
.sleeping-bag-good-container,
.we-will-be {
  position: absolute;
  display: inline-block;
  width: 32.69rem;
}
.sleeping-bag-good-container {
  top: 140.19rem;
  left: 42.5rem;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  height: 19.56rem;
}
.all-meals-will {
  top: 167.44rem;
  left: 4.94rem;
  font-size: var(--font-size-xl);
  height: 7.81rem;
}
.autumn-sept-to,
.koshish-has-been1,
.miharika-has-been1 {
  position: absolute;
  top: 166.88rem;
  left: 52.38rem;
  display: inline-block;
  width: 23.69rem;
  height: 6.81rem;
}
.autumn-sept-to,
.miharika-has-been1 {
  top: 179.38rem;
  width: 23.38rem;
  height: 6.88rem;
}
.autumn-sept-to {
  top: 180.31rem;
  left: 4.94rem;
  font-size: var(--font-size-xl);
  width: 32.69rem;
  height: 6.13rem;
}
.small-personal-first-aid-container {
  position: absolute;
  top: 107.75rem;
  left: 42.5rem;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  display: inline-block;
  width: 34.5rem;
}
.book-enquiry-over-view-child21,
.book-enquiry-over-view-child22 {
  position: absolute;
  top: 165.13rem;
  left: 42.5rem;
  width: 8.13rem;
  height: 8.13rem;
  object-fit: cover;
}
.book-enquiry-over-view-child22 {
  top: 177.94rem;
}
.book-enquiry-over-view-child23 {
  position: absolute;
  top: 227.75rem;
  left: 33.13rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-steelblue);
  width: 13.5rem;
  height: 3.19rem;
}
.book-now4 {
  position: absolute;
  top: 228.13rem;
  left: 35.31rem;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: #fcfcfc;
  display: flex;
  align-items: center;
  width: 9.13rem;
  height: 2.44rem;
}
.frame-child {
  position: absolute;
  top: 0.13rem;
  left: 0;
  width: 23.75rem;
  height: 14.25rem;
  object-fit: cover;
}
.frame-item {
  top: 0.13rem;
  left: 25.06rem;
}
.frame-inner,
.frame-item,
.rectangle-icon {
  position: absolute;
  width: 23.75rem;
  height: 14.25rem;
  object-fit: cover;
}
.frame-inner {
  top: 0.13rem;
  left: 50.13rem;
}
.rectangle-icon {
  top: 15.63rem;
  left: 0;
}
.frame-child1 {
  top: 15.63rem;
  left: 25.06rem;
}
.frame-child1,
.frame-child2,
.frame-child3 {
  position: absolute;
  width: 23.75rem;
  height: 14.25rem;
  object-fit: cover;
}
.frame-child2 {
  top: 15.63rem;
  left: 50.13rem;
}
.frame-child3 {
  top: 0;
  left: 75.38rem;
}
.frame-child4 {
  top: 0;
  left: 100.44rem;
}
.frame-child4,
.frame-child5,
.frame-child6,
.frame-child7,
.frame-child8 {
  position: absolute;
  width: 23.75rem;
  height: 14.25rem;
  object-fit: cover;
}
.frame-child5 {
  top: 0;
  left: 125.5rem;
}
.frame-child6,
.frame-child7,
.frame-child8 {
  top: 15.5rem;
  left: 75.38rem;
}
.frame-child7,
.frame-child8 {
  left: 100.44rem;
}
.frame-child8 {
  left: 125.5rem;
}
.book-enquiry-over-view-inner1,
.frame-div {
  position: absolute;
  width: 76.81rem;
  height: 29.88rem;
}
.frame-div {
  top: 0;
  left: 0;
}
.book-enquiry-over-view-inner1 {
  top: 195.88rem;
  left: 3.13rem;
}
.facebook-twitter-instagram2,
.facebook-twitter-instagram3 {
  position: absolute;
  top: 74.81%;
  left: 65.47%;
  font-size: var(--font-size-mid);
  color: var(--color-gray-200);
}
.facebook-twitter-instagram3 {
  top: 80.2%;
}
.book-enquiry-over-view {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 233rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
