@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter-tight: "Inter Tight";
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-5xl: 24px;
  --font-size-3xl: 22px;
  --font-size-lgi: 19px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-lightgray: #cbcbcb;
  --color-dimgray-100: #6b6a6a;
  --color-forestgreen: #3eb750;
  --color-gray-100: #282424;
  --color-gray-200: #242222;
  --color-darkslategray: #352f2f;

  /* border radiuses */
  --br-8xs: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-mini: 0.94rem;
  --font-size-xl: 1.25rem;
  --font-size-11xl: 1.88rem;
  --font-size-13xl: 2rem;
  --font-size-mid: 1.06rem;
  --font-size-6xl: 1.56rem;
  --font-size-lg: 1.13rem;

  /* Colors */
  --color-white: #fff;
  --color-steelblue: #055d90;
  --color-silver: #b8b8b8;
  --color-darkgray: #a9a9a9;
  --color-tomato: #ff533c;
  --color-gray-100: #fefefe;
  --color-gray-200: #352b2b;
  --color-gray-300: #242222;
  --color-gray-400: #131313;
  --color-whitesmoke-100: #eaeaea;
  --color-whitesmoke-200: #e9e9e9;
  --color-black: #000;
  --color-darkslategray: #034165;
  --color-gainsboro: #d9d9d9;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-8xl: 1.69rem;

  /* border radiuses */
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-31xl: 50px;
  --br-xl: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
