div{
  text-align: center;
}
.PackageContent {
    /* margin: 0 auto; */
    text-align: center;
    margin-bottom: 7em;
  }
  
  /* Style for the headings */
  h1.PackHeading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  .head {
    font-size: 4rem;
    color: red;
    margin-bottom: -40px;
    font-family: 'Qwigley';
    font-weight: normal;
  }
  
  h3.PackHeading {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 30px;
  }
  
  /* Style for the cards */
  .MainCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60vh;
    text-align: left;
  }
  
  .MainCard .card1,
  .MainCard .card2,
  .MainCard .card3 {
    color: #ff533c;
    flex-basis: 300px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(198, 37, 37, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
  }
  
  .MainCard .card1 h4,
  .MainCard .card2 h4,
  .MainCard .card3 h4 {
    font-size: 1.2rem;
    color: #333;
    margin: 20px;
  }
  
  .MainCard .card1 img,
  .MainCard .card2 img,
  .MainCard .card3 img {
    width: 100%;
    height: 200px; /* adjust this value to change the height of the image */
    object-fit: contain;
  }
  
  .MainCard a {
    display: block;
    margin: 20px;
    color: #666;
  }
  
  .MainCard button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff533c;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .MainCard button:hover {
    background-color: #666;
  }
  .img1{
    margin-top: 8px;
    border-radius: 10px;
    Width: 280px;
    Height: 250pt;
    background-image: url("../Images/Kathmandu.jpg");
    background-size:cover;
  }
  .img2{
    margin-top: 8px;
    border-radius: 10px;
    Width: 280px;
    Height: 250pt;
    background-image: url("../Images/Pokhara.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  .img3{
      margin-top: 8px;
      border-radius: 10px;
    Width: 280px;
    Height: 250pt;
    background-image: url("../Images/Everest.jpg");
    background-size:cover;
  }
  #seemore{
    color: blue;
    text-decoration: none;
  }